*{
    font-family: "Inter", sans-serif;
}
.list li{
    list-style: none;
}
.descrip{
    transition: 0.3s;
}
.uli li{
    list-style-type: disc;
}
.login{
    box-shadow: 0 4px 22px 0 #00000022;
}








